<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-- custom css file link  -->
  <link rel="stylesheet" href="../static/style.css">
  

  <title> SkillNova </title>
  <link rel="icon" href="skillnova.png">
  <link rel="favicon" type=”../static/image/ico” href="logo.png" />
</head>

<body>
  <div id="preloader">
  </div>

  <div class="popup">
    <div class="contentBox">
      <div class="close"> </div>
      <div class="imgBx" data-aos="zoom-in-up">
        <img src="../static/image/hiring.png" alt="">
      </div>
      <div class="content">
        <div>
          <h3>We are Hiring!</h3>
          <p>Your door to opportunity!</p>
          <a class="click" href="#features"><button class="btn">Internship</button></a>
        </div>
      </div>
    </div>
  </div>





  <!-- header section starts  -->

    <header class="header">

      <a href="#" class="logo"><i class="fas fa-chart-pie"></i>SkillNova</a>

          <!-- Custom SVG Menu Button -->
    <div class="menu-toggle" onclick="toggleMenu()">
      <svg id="menu-icon" width="30" height="30" viewBox="0 0 100 80" fill="white">
          <rect width="100" height="15"></rect>
          <rect y="30" width="100" height="15"></rect>
          <rect y="60" width="100" height="15"></rect>
      </svg>
  </div>


      <nav class="navbar">
        <ul>
          <li><a href="#home">home</a></li>
          <li><a href="#about">about</a></li>
          <li><a href="#service">How it works</a></li>
          <li><a href="#features">Internships</a></li>
          <li><a href="#team">Benefits</a></li>
          <li><a href="#contact">contact</a></li>
          <li><a href="#faq">FAQ</a></li>
        </ul>
      </nav>


    </header>


    <!-- header section ends -->

    <!-- home section starts  -->

    <section id="home" class="home" data-aos="fade">

      <h1 class="banner">Start Your Career with Our Internship Program</h1>
      <h3 class="slogan">Apply for various domains, complete tasks, and earn your certificate.</h3>
      <a href="#features"><button>get started</button></a>


      <div class="wave wave1"></div>
      <div class="wave wave2"></div>
      <div class="wave wave3"></div>

      <!-- <div class="fas fa-cog nut1"></div>-->
      <!--<div class="fas fa-cog nut2"></div> -->-->


    </section>


    <!-- home section ends -->

    <a href="#" class="to-top"><i class="fas fa-chevron-up"></i></a>
    <!-- abuout section starts  -->

    <section id="about" class="about" data-aos="zoom-in-down">

      <h1 class="heading">about us</h1>

      <div class="row">

        <div class="content">
          <h3>Empowering students with practical skills and real-world experience.</h3>
          <p>At SkillNova, we are passionate about providing college students with valuable, real-world internship opportunities that help them gain practical experience and set them up for success in their careers. Our mission is to empower students by offering internships across multiple domains, such as Digital Marketing, Content Writing, Graphic Design, and more, giving them the chance to grow, learn, and stand out in the job market.

            <br>
            <br>
            We understand that real-world experience is crucial for professional growth, which is why our programs are designed to offer hands-on tasks and assignments that mirror industry expectations. Whether you're looking to specialize in a certain field or simply enhance your resume with a recognized certificate, our platform makes it easy for you to achieve your goals.
          </p>
          <p>
          AICTE Approved: Our internship programs, endorsed by AICTE, ensure top-notch quality and relevance.<br>
          <br>
          ISO 9001:2015 Certified: Committed to international standards, reflecting our unwavering dedication to quality.
          </p>
          <a href="#features"><button class="btn">read more</button></a>
        </div>

        <div class="../static/image">
          <img src="../static/image/ab.svg" alt="">
        </div>

      </div>


    </section>

    <!-- abuout section ends  -->

    <!-- service section starts  -->

    <section id="service" class="service">
      <section id="how-it-works" class="how-it-works">
        <div class="container">
          <div class="heading">
            <h2>How it Works</h2>
          </div>
          <div class="steps">
            <div class="step">
              <img src="choose2.png" alt="Step 1" height="200" width="200">
              <h3>Choose Domain</h3>
              <p>Select from our various internship programs</p>
            </div>
            <div class="step">
              <img src="check.png" alt="Step 2">
              <h3>Complete Tasks</h3>
              <p>Work on assignments and practical projects</p>
            </div>
            <div class="step">
              <img src="certified.png" alt="Step 3" height="200px" width="200px">
              <h3>Get Certified</h3>
              <p>Receive your internship completion certificate</p>
            </div>
          </div>
        </div>
      </section>
      
    
    
    
    

    </section>


    <!-- service section ends -->

    <section class="features" id="features">

      <h1 class="heading"> Our Internships </h1>

      <div class="box-container">

        <div class="box" >
          <img src="./../static/image/wbd.svg" alt="" >
          <h3>Web Development </h3>
          <p>The Web Development internship offers practical work experience and an introduction to creating and
            improving web-based systems. This internship will involve challenging opportunities, real world projects.
            It’s a fantastic opportunity to gain hands-on experience in the web and/or app development field with an
            award-winning innovation team.</p>
          <a href="--------------------------"><button class="btn">Apply Now</button></a>
        </div>

        <div class="box" >
          <img src="../static/image/UI-UX differences-amico.svg" alt="" >
          <h3>Graphic Design </h3>
          <p>With a graphic design internship, you will be involved in projects that focus on nearly every aspect of a business’s visual design strategies. Your internship tasks may include creating graphic and video content, template design, web design work, and many more exciting tasks. Plus our graphic design internships range in industries, so we work with you to find one that best matches your career goals. </p>
          <a href="--------------------------"><button class="btn">Apply Now</button></a>
        </div>

        <div class="box" >
          <img src="../static/image/Coworking-rafiki (1).svg" alt="" >
          <h3>Java Programming</h3>
          <p>Master the Fundamentals of Programming in Java from the comfort of your home and get certified to apply for great job opportunities. A with 4-week comprehensive Internship program where you will learn right from development to deployment of web applications made using Java. Get first-hand exposure to working in the real world, build your professional network, integrate classroom knowledge and theory with practical application and skills developed in professional or community settings. </p>
          <a href="--------------------------"><button class="btn">Apply Now</button></a>
        </div>
      </div>

      <div class="box-container">

        <div class="box" >
         
            <img src="../static/image/Usability testing-bro.svg" alt="">
            <h3>Android Development</h3>
            <p>Android is an open source Operating for mobile application development.Now a days people continuously shifting to mobile devices to access internet application and other important tasks.which is more easy than to work on PC.It it best choice to getting started your first App with OASIS INFOBYTE.</p>
            <a href="--------------------------"><button class="btn">Apply Now</button></a>
          </div>
  
          <div class="box" >
            <img src="../static/image/Data extraction-rafiki (1).svg" alt="" >
            <h3>Data Science </h3>
            <p>Remote data science internships are a unique chance to gain experience in the midst of the virtual workforce while remaining immersed in one of the top organizations in the field. Data analysis internships are some of the most competitive and popular within the broader data science field.</p>
            <a href="--------------------------"><button class="btn">Apply Now</button></a>
          </div>
          <div class="box" >
            <img src="../static/image/Binary code-amico.svg" alt="">
            <h3>Python Programming</h3>
            <p>Enroll in our intensive 4-week internship program to become proficient in Python programming, all within the convenience
            of your home. Acquire the essential skills and expertise to pursue exciting job prospects in this field. Throughout the
            program, you'll delve into various aspects, spanning from web development to deploying Python-driven web applications.
            Achieve certification and elevate your career possibilities. Seize this chance to excel in Python programming – it's not
            to be missed!</p>
            <a href="--------------------------"><button class="btn">Apply Now</button></a>
        
      </div>
      </div>

      <div class="box-container">

        <div class="box" >
         
            <img src="../static/image/Investment data-amico.svg" alt="">
            <h3>Data Analytics</h3>
            <p>Immerse yourself in the realm of data with our internship at Oasis Infobyte. This hands-on experience provides real-world projects, challenges, and exposure to cutting-edge analytics. Join our award-winning team, contribute to impactful initiatives, and gain practical insights into the dynamic field of data analytics.</p>
            <a href="--------------------------"><button class="btn">Apply Now</button></a>
          </div>
  
          <div class="box" >
            <img src="../static/image/Private data-bro.svg" alt="" >
            <h3>Cyber Security </h3>
            <p>Step into the realm of cybersecurity with our internship at Oasis Infobyte. This hands-on experience features real-world projects, challenges, and exposure to cutting-edge security practices. Join our esteemed cybersecurity team, contribute to impactful initiatives, and gain practical insights into the dynamic field of cybersecurity. Apply now for a transformative journey into the heart of cybersecurity innovation!</p>
            <a href="--------------------------"><button class="btn">Coming Soon</button></a>
          </div>
          <div class="box" >
            <img src="../static/image/Cloud hosting-bro (1).svg" alt="">
            <h3>Cloud Computing</h3>
            <p>Explore the world of cloud computing in our internship at Oasis Infobyte. Immerse yourself in real-world projects, challenges, and the latest cloud technologies. Join our dynamic cloud computing team, contribute to impactful initiatives, and gain practical insights into this evolving field. Apply now for a transformative experience at the forefront of cloud computing innovation!</p>
            <a href="--------------------------"><button class="btn">Coming Soon</button></a>
        
      </div>
      </div>


    </section>

<!-- process -->

   


    <!-- team section starts  -->

    <section id="team" class="team">

      <section id="how-it-works" class="how-it-works">
        <div class="container">
          <div class="heading">
            <h2>Program Benefits</h2>
          </div>
          <div class="steps">
            <div class="step">
              <img src="experience.png" alt="Step 1" height="200" width="200">
              <h3>Practical Experience</h3>
              <p>Work on real projects with practical applications</p>
            </div>
            <div class="step">
              <img src="mentor.png" alt="Step 2">
              <h3>Expert Mentorship</h3>
              <p>Learn from industry professionals</p>
            </div>
            <div class="step">
              <img src="certified.png" alt="Step 3" height="200px" width="200px">
              <h3>Certification</h3>
              <p>Earn a recognized certificate upon completion</p>
            </div>
          </div>
        </div>


    </section>

    

    <!-- team section ends -->

    <!-- contact section starts  -->

    <section id="contact" class="contact">

      <h1 class="heading">contact us</h1>


      <div class="row">

        <div class="../static/image">
          <img src="../static/image/Contact us-amico (2).svg" alt="">
        </div>

        <div class="form-container">
          <form id="form" action="" method="post" action="backend.php">

            <div class="inputBox">
              <input name="name" type="text" placeholder="first name" required>
              <input type="text" placeholder="last name" required>
            </div>

            <input name="email" type="email" placeholder="email" required>
            <textarea name="message" id="" cols="30" rows="10" placeholder="message" required></textarea>
            <input type="submit" value="send">

          </form>
        </div>

      </div>

    </section>


    <!-- contact section ends -->

    <!-- FAQ section starts  -->

    <section id="faq" class="faq" >

      <h1 class="heading">FAQ</h1>

      <div class="row">

        <div class="../static/image">
          <img src="../static/image/FAQs-amico (1) (1).svg" alt="">
        </div>

        <div class="accordion-container">

          <div class="accordion">
            <div class="accordion-header">
              <span>+</span>
              <h3>How to apply for internships?</h3>
            </div>
            <div class="accordion-body">
              <p>To apply for upcoming batch of internship you need to fill the interest form in thst specific domain, after that you will directly receive the selection certificate from us if selected.</p>
            </div>
          </div>

          <div class="accordion">
            <div class="accordion-header">
              <span>+</span>
              <h3>How To fill the interest form?</h3>
            </div>
            <div class="accordion-body">
              <p>You will get the interest form of all the internships domain in above mentioned internship column. Please click on apply now button, your response will help us to understand your current skills and need for training during the internship if any.</p>
            </div>
          </div>

          <div class="accordion">
            <div class="accordion-header">
              <span>+</span>
              <h3>I have completed all the necessary steps, whats next?</h3>
            </div>
            <div class="accordion-body">
              <p>if you have filled all the required field in interest form correctly, you will receive a selection certificate from us before your internship starts. All importent information and anouncements related to internship are communicated through the discussion from OASIS INFOBYTE Network on linkedin.</p>
            </div>
          </div>

          <div class="accordion">
            <div class="accordion-header">
              <span>+</span>
              <h3>What will be the duration of internship?</h3>
            </div>
            <div class="accordion-body">
              <p>in every domain duration of internship is 4 weeks.</p>
            </div>
          </div>

          <div class="accordion">
            <div class="accordion-header">
              <span>+</span>
              <h3>i have completed my tasks well before deadline.when will i get a certificate?</h3>
            </div>
            <div class="accordion-body">
              <p>you can submit your task through Task Submission Form if you have received it or wait for it to be shared. If you have submitted the task before the deadline please expect your completion certificate in the 1st week of next month.</p>
            </div>
          </div>

        </div>

      </div>

    </section>



    <!-- FAQ section ends -->

    <div class="footer">

      <div class="box-container">

        <div class="box">
          <h3>about us</h3>
          <p>At SkillNova, we are passionate about providing college students with valuable, real-world internship opportunities that help them gain practical experience and set them up for success in their careers. Our mission is to empower students by offering internships across multiple domains, such as Digital Marketing, Content Writing, Graphic Design, and more, giving them the chance to grow, learn, and stand out in the job market.</p>
        </div>

        <div class="box">
          <h3>quick links</h3>
          <a href="#home">home</a>
          <a href="#about">about</a>
          <a href="#service">How it works</a>
          <a href="#features">Internships</a>
          <a href="#team">program benefits</a>
          <a href="#contact">contact</a>
        </div>

        <div class="box">
          <h3>follow us</h3>
          <a href="---------------------------------------"><i class="fab fa-facebook"></i>  Facebook</a>
          <a href="--------------------------"><i class="fab fa-instagram"></i> Instagram</a>
          <a href="--------------------------"><i class="fab fa-linkedin"></i> LinkedIn</a>
          <a href="--------------------------"><i class="fab fa-twitter"></i> Twitter</a>
        </div>

        <div class="box">
          <h3>contact info</h3>
          <div class="info">
            <!--<i class="fas fa-phone"></i>-->
            <!--<p> 8800179011 </p>-->
          </div>
          <div class="info">
            <i class="fas fa-envelope"></i>
            <p > contact.skillnova@gmail.com <br><a href="mailto:contact.skillnova@gmail.com"></a> </p>
          </div>
          <div class="info">
            <i class="fas fa-map-marker-alt"></i>
            <p> Gurugram, Haryana, India </p>
          </div>


        </div>
        <h1 class="credit"> &copy; Copyright OASIS INFOBYTE. All Rights Reserved
          Designed by Team OASIS </h1>

      </div>


    </div>




  <!-- footer section ends -->



  <script src="../static/js/xyz.js"></script>


  <!-- custom js file link  -->

<script src="../static/main.js">

</script>


</body>

</html>